
# Datos capturados (sensibles)
auth/
auth/*
*.dat
*.txt

# Archivos temporales del servidor
.server/www/
.server/www/*
.server/.cld.log
.server/.loclx
.server/.serveo.log

# Configuración personal
.localxpose/
.localxpose/*

# Backups
*.backup
*.backup-*

# Logs
*.log
debug.txt
